[Unit]
Description=Avahi Aliases
Wants=avahi-daemon.service

[Service]
Type=forking
ExecStart=/usr/local/bin/avahi-publish-aliases

[Install]
WantedBy=multi-user.target
